<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">ServeByte</a>
        <br>
        <a href="#" routerLink="/register-restaurant" class="logo">Register-As-Restaurant</a>
        <a href="#" routerLink="/register-customer" class="logo">Register-As-Customer</a>
        <a href="#" routerLink="/register-logistic" class="logo">Register-As-Logistic-Company</a>
        <nav>
            <ul>
                <li>
                      <a href="#" routerLink="/cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
